#timer {
    font-size: 3em;
    font-weight: 50;
    color: white;
    padding: 20px;
    width: 700px;
    color: white;
}

#timer div {
    display: inline-block;
    min-width: 90px;
    padding: 15px;
    background: black;
    border-radius: 10px;
    border: 2px solid bl;
    margin: 15px;
}

#timer div span {

    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 100;
}